@import url('https://fonts.googleapis.com/css2?family=Manufacturing+Consent&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Oswald", sans-serif;
}

header{

    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(30px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;

    img{
        height: 70px;
        cursor: pointer;
    }

    ul{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    a{
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 1.2rem;
    }
}

